html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #70d1fd 0%, #fcfcfc 100%);
}

body {
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin-top: 60px;
}
